@use 'base/variables' as v;
@use 'base/mixins' as m;


.tabs {
    @include m.grid(1, 3rem);
    @include m.desktop { 
        grid-template-columns: repeat(3, 1fr);
    }
}

.tab{
    display: none;
    border: 2px solid v.$colorPrimary;
    border-radius: .5rem;
    padding: 2rem;
    @include m.desktop { 
        display: block;
    }

    &--active{
        display: block;
    }

    &--featured{
        color: v.$white;
        background-color: v.$colorPrimary;
        border-color: v.$black;
    }
    
    &__header {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    &__title--featured {
        color: v.$white;
    }
    
    &__description {
        height: 45px;
        margin-top: .5rem;
        margin-bottom: 0;
    }
    
    &__pay {
        max-width: 80%;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 2px solid v.$colorPrimary;
        margin: 0 auto;

        &--featured{
            border-color: v.$white;
        }

    }

    &__discount{
        position: relative;
        font-size: 1.15rem;
        font-weight: 700;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        &::after{
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-10deg);
            width: 100%;
            height: 2px;
            background-color: v.$black;
        }

        &--active{
            opacity: .8;
        }

    }
    
    &__periodically,
    &__price {
        display: block;
        font-size: 2.3rem;
        font-weight: 700;
        color: v.$colorPrimary;
        
        &--featured{
            color: v.$black;
        }

    }
    
    &__periodically {
        text-transform: uppercase;
        font-size: .875rem;
    }
    
    &__info {
        padding-top: 2rem;
    }

    &__title-list{
        font-size: 1rem;
        text-transform: uppercase;

        &--featured{
            color: v.$white;
        }

    }

    &__list {
        min-height: 100px;
        padding-left: 1rem;
    }
    
    &__design {
        margin-top: 4rem;
    }
    
    &__footer {
        margin-top: 3rem;
    }
    
    &__btn {
        display: block;
        color: v.$black;
        border-color: v.$black;
        background-color: transparent;
        text-align: center;

        &:hover{
            color: v.$colorPrimary;
            border-color: v.$colorPrimary;
            background-color: transparent;
        }

        &--featured{
            color: v.$white;
            border-color: v.$white;

            &:hover{
                color: v.$black;
                border-color: v.$black;
            }

        }

    }

}