@use 'base/variables' as v;
@use 'base/mixins' as m;


.tabs {
    @include m.grid(1, 3rem);
    @include m.desktop { 
        grid-template-columns: repeat(3, 1fr);
    }
}

.tab{

    border: 2px solid v.$colorPrimary;
    border-radius: .5rem;
    padding: 2rem;

    &--featured{
        color: v.$white;
        background-color: v.$colorPrimary;
        border-color: v.$black;
    }
    
    &__header {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    &__title--featured {
        color: v.$white;
    }
    
    &__description {
        height: 45px;
        margin-top: .5rem;
        margin-bottom: 0;
    }
    
    &__pay {
        max-width: 80%;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 2px solid v.$colorPrimary;
        margin: 0 auto;

        &--featured{
            border-color: v.$white;
        }

    }

    &__discount{
        font-size: 1.15rem;
        color: gray;
        font-weight: 600;
        text-decoration: line-through 3px;
        /*opacity: 0;*/
    }
    
    &__periodically,
    &__price {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        color: v.$colorPrimary;
        
        &--featured{
            color: v.$black;
        }

    }
    
    &__periodically {
        text-transform: uppercase;
        font-size: .875rem;
    }
    
    &__info {
        padding-top: 2rem;
    }

    &__title-list{
        font-size: 1rem;
        text-transform: uppercase;

        &--featured{
            color: v.$white;
        }

    }

    &__list {
        min-height: 100px;
        padding-left: 1rem;
    }
    
    &__included {

    }
    
    &__design {
        margin-top: 4rem;
    }
    
    &__footer {
        margin-top: 3rem;
    }
    
    &__btn {
        display: block;
        color: v.$black;
        border-color: v.$black;
        background-color: transparent;
        text-align: center;

        &:hover{
            color: v.$colorPrimary;
            border-color: v.$colorPrimary;
            background-color: transparent;
        }

        &--featured{
            color: v.$white;
            border-color: v.$white;

            &:hover{
                color: v.$black;
                border-color: v.$black;
            }

        }

    }

}