// Colors
$colorPrimary: #F86642;
$colorSecondary: #292526;
$colorTertiary: #E0EAF3;
$white: #fff;
$grey: #F6F6F6;
$black: #000;

// Fonts
$font: 'Montserrat', sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;