@use 'base/variables' as v;
@use 'base/mixins' as m;

.slider{
    width: 100%;
    margin-bottom: 2rem;
    background-color: #f6f6f6;
    position: relative;
    overflow: hidden;

    &__content{
        @include m.flexible(flex, row, nowrap, space-between, center );
        transition: transform 0.3s ease;
    }

    &__slide {
        flex: 1 0 100%;
        &:nth-child(1){
            background-color: red;
        }
        &:nth-child(2){
            background-color: blue;
        }
        &:nth-child(3){
            background-color: green;
        }
    }

    &.grabbing .slider__content {
        cursor: grabbing;
    }

    &__description {
    
    }

    &__profile {
    
    }

    &__thumbail {
    
    }

    &__image {
    
    }

    &__info {
    
    }

    &__name {
    
    }

    &__company {
    
    }


}