@use 'base/variables' as v;
@use 'base/mixins' as m;

    .hamburger{
        background-color: v.$black;
        width: 50px;
        height: 50px;
        @include m.flexible(flex, column, nowrap, center, center );
        row-gap: .3rem;
        padding: .2rem;
        border-radius: 50%;
        cursor: pointer;

        @include m.desktop {
            display: none;
        }

        &::before,
        &::after{
            content: '';
        }

        &::before,
        &::after,
        &__line{
            display: block;
            width: 70%;
            height: 3px;
            background-color: v.$white;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        }

        &--close{
            &::before{
                transform: rotate(44deg);
                transform-origin: 13px 2px;
            }
            &::after{
                transform: rotate(-44deg);
                transform-origin: 9px 0px;
            }
        }

    }

    .btn-hamburger{
        display: none;
    }