@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
     position: relative;
     background-color: v.$colorTertiary;
     transition: background .2s ease-in-out;
     z-index: 9;

     @include m.desktop { 
          &--sticky{
               position: sticky;
               top: 0;
               backdrop-filter: blur(20px);
               background: hsla(0,0%,100%,.3);
          }    
     }

     &__bar {
          height: 100px;
          @include m.flexible(flex, row, nowrap, space-between, center );
          padding: 1.3rem 0;
     }

     &__cta {
          display: none;
          @include m.desktop { 
               display: block;
          }

     }
     
}