@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
     background-color: v.$colorTertiary;

     &__bar {
          height: 100px;
          @include m.flexible(flex, row, nowrap, space-between, center );
          padding: 1.5rem 0;
     }

     &__logo {

     }

     &__logo-link {

     }

     &__cta {
          display: none;
          @include m.desktop { 
               display: block;
          }

     }

     &__content {
          text-align: center;
     }

     &__title {

     }

     &__benefits {

     }

     &__benefit {

     }

     &__cartoons {

     }

     &__cartoon-item {

     }

     &__cartoon-image {

     }
     
}