@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
     position: relative;
     background-color: v.$colorTertiary;
     z-index: 9;


     &--sticky{
          position: sticky;
          top: 0;
          opacity: 0;
          visibility: hidden;
          transform: translateY(-95px);
          backdrop-filter: blur(20px);
          background-color: hsla(0,0%,100%,.3);
     }
       
     &--showed{
          opacity: 1;
          visibility: visible;
          transition: opacity .5s cubic-bezier(0.4, 0, 0.2, 1), transform .5s ease-in-out;
          transform: translateY(0);
     }

     &__bar {
          height: 95px;
          @include m.flexible(flex, row, nowrap, space-between, center );
          padding: 1.3rem 0;
     }

     &__cta {
          display: none;
          @include m.desktop { 
               display: block;
          }

     }
     
}