@use 'base/variables' as v;
@use 'base/mixins' as m;

.navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000;
    top: -200vh;
    left: 0;
    right: 0;
    overflow-y: scroll;
    transition: top 0.2s ease-in-out;
    z-index: 9;

    @include m.desktop { 
        display: block;
        position: static;
        background: transparent;
        box-shadow: none;
        width: auto;
        height: auto;
        overflow-y: hidden;
    }

    &--active{
        top: 0;
    }

    &__nav{
        @include m.flexible(flex, column, nowrap, center, flex-start );
        row-gap: 3rem;
        padding: 1.5rem;
        @include m.desktop {
            flex-direction: row;
            align-items: flex-start;
            column-gap: 2rem;
            padding: 0;
        }
    }

    &__header{
        height: 100px;
        @include m.flexible(flex, row, nowrap, space-between, center );
        padding: 1.5rem;
        @include m.desktop { 
            display: none;
        }
    }


    &__link {
        color: v.$white;
        font-weight: 700;
        text-transform: uppercase;
        transition: color .2s ease-in-out;
        @include m.desktop { 
            color: v.$black;

            &--active{
                color: v.$colorPrimary;
            }

        }

        &:hover{
            color: v.$colorPrimary;
        }

        &--active{
            color: v.$colorPrimary;
        }

        &--button{
            &:hover{
                color: v.$white;
                background-color: v.$colorPrimary;
                opacity: .75;
            }
            @include m.desktop { 
                display: none;
            }
        }
    }

    &__cta-link {
        
    }

}