@use 'base/variables' as v;
@use 'base/mixins' as m;

.benefits {

    padding: 4rem 0;
    background-color: v.$grey;
    overflow: hidden;
    @include m.tablet { 
        padding: 6rem 0;
    }

    &__container{
        position: relative;
    }

    &__title,
    &__description {
        display: block;
        max-width: 900px;
        text-align: left;
        margin: 0 auto 1.125rem;
        @include m.tablet { 
            text-align: center;
        }
    }

    &__grid {
        @include m.grid(1, 3rem);
        margin-top: 3rem;
        @include m.desktop { 
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__card {
        text-align: center;
    }

    &__img {
        display: block;
        margin: 0 auto 1rem;
    }

    &__card-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__card-description {
        margin: 0;
    }

    &__triangle-top{
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    &__triangle-bottom{
        display: block;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

}